@mixin bgImage($name) {
    background-image: url('@/assets/img/sysadmin/' + $name + '.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.f {
    display: flex;
    align-items: center;
}

.f-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-s {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.f-w {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.top {
    width: 100%;
    height: 161px;
    @include bgImage('topBar');

    .back {
        position: absolute;
        width: 22px;
        height: 22px;
        top: 55px;
        left: 9px;
    }

    .top-title {
        font-family: SFPro, SFPro;
        font-weight: bold;
        font-size: 18px;
        color: #000000;
        line-height: 22px;
        text-align: center;
        padding-top: 56px;
    }
}
