@import "./common.scss";

.createBD-page {
    width: 100%;
    height: 462px;
    background-color: #f5f5f5;
    padding: 16px 10px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .popup-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;

        .popup-title {
            width: 100%;
            font-size: 18px;
            font-weight: bold;
            margin: 0;
            color: #000000;
            text-align: center;
        }

        .close-icon {
            width: 18px;
            height: 11px;
            @include bgImage("icon-up");
        }
    }

    .nav {
        width: 355px;
        height: 311px;
        background: #ffffff;
        border-radius: 6px;
        box-sizing: border-box;
        padding: 16px 16px;

        .lable {
            font-family: Helvetica, Helvetica;
            font-weight: bold;
            font-size: 14px;
            color: #000000;
            line-height: 17px;
        }

        .inp-box {
            width: 323px;
            height: 70px;
            background: #e7e7e7;
            border-radius: 6px;
            box-sizing: border-box;
            padding: 0 12px;
            margin-top: 10px;

            :deep(.van-search__content) {
                padding: 0;
            }

            :deep(.van-cell) {
                background: #e7e7e7;
            }

            .van-search {
                // flex: 1;
                border: none;
                padding: 0;
                font-size: 14px;
                outline: none;
                background: #e7e7e7;
                color: #a09b95;

                &::placeholder {
                    color: #000000;
                }
            }

            .action-btn {
                width: 79px;
                height: 29px;
                border-radius: 30px;
                margin: 0 6px;
                padding: 0;
                font-family: Helvetica, Helvetica;
                font-weight: bold;
                font-size: 14px;
                color: #ffffff;
                line-height: 17px;

                &.Search {
                    color: #ffffff;
                    background-image: linear-gradient(to bottom, #ac41f6, #520bf5);
                }
            }
        }

        .user-box {
            width: 323px;
            height: 70px;
            background: #f2f2f2;
            border-radius: 6px;
            box-sizing: border-box;
            padding: 0 12px;
            margin-top: 10px;
            .user-basic-info {
                display: flex;
                align-items: center;

                .avatar-section {
                    margin-right: 15px;

                    .avatar-container {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        overflow: hidden;
                        background: #f0f0f0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .user-avatar {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .user-details {
                    flex: 1;

                    .username {
                        font-size: 13px;
                        font-weight: bold;
                        margin: 0 0 5px 0;
                        color: #000000;
                    }

                    .user-id {
                        font-size: 13px;
                        color: #a19b95;
                        margin: 0;
                    }
                }
            }
            .right {
                width: 30px;
                height: 30px;
            }
        }

        .lable2 {
            margin: 20px 0 10px 0;
        }

        // .input {

        // }

        .reason-input-container {
            position: relative;

            .reason-input {
                width: 323px;
                height: 41px;
                line-height: 41px;
                background: #f2f2f2;
                border-radius: 6px;
                border: none;
                // border: 1px solid #e0e0e0;
                border-radius: 8px;
                font-size: 14px;
                resize: none;
                box-sizing: border-box;
                border: none;
                padding: 0 12px;
                color: #000000;
            }

            textarea::-webkit-input-placeholder {
                color: #999999;

                // font-size: 14px;
            }
        }
    }

    .action-buttons {
        display: flex;
        justify-content: center;
        border-radius: 20px;
        margin-top: 16px;

        .action-btn {
            width: 323px;
            height: 34px;
            border-radius: 8px;
            font-size: 14px;
            font-weight: 500;
            border: none;
        }

        .ban-btn {
            background-image: linear-gradient(to bottom, #ac41f6, #520bf5);
            color: white;
            border-radius: 30px;
        }

        .ban-btn:disabled {
            background: #cbcbcb;
            color: #7f7f7f;
            cursor: not-allowed;
        }
    }
}
