@import './common.scss';

.index {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #F1F1F1;
    box-sizing: border-box;
}

.user {
    width: 355px;
    height: 82px;
    background: #FFFFFF;
    border-radius: 6px;
    margin: -60px auto 0;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding: 0 16px;

    .left {

        .user-img {
            width: 50px;
            height: 50px;
        }
    }

    .right {
        margin: 0 10px;

        p {
            font-family: Helvetica, Helvetica;
            font-weight: bold;
            font-size: 13px;
            color: #121212;
            line-height: 16px;
        }

        .box {
            margin-top: 5px;

            .van-image {
                max-width: 42px;
                max-height: 18px;
                margin: 0 2px;
            }
        }
    }
}


.page-list {
    box-sizing: border-box;
    padding: 0 12px;
    width: 355px;
    // height: 122px;
    background: #FFFFFF;
    border-radius: 6px;
    margin: 20px auto 0;

    .li:last-child {
        &::before {
            background: none;
        }
    }

    .li {
        height: 40px;
        position: relative;
        background: #FFFFFF;

        &::before {
            content: "";
            position: absolute;
            width: 331px;
            height: 1px;
            background: rgba(235, 235, 235, 1);
            bottom: 0;
        }

        .left {
            img {
                width: 16px;
                height: 16px;
            }

            span {
                font-family: Helvetica, Helvetica;
                font-weight: bold;
                font-size: 12px;
                color: #000000;
                line-height: 15px;
                margin: 0 6px;
            }
        }

        .go {
            width: 12px;
            height: 12px;

        }
    }
}

.select {
    padding: 0 10px;
    margin: 20px auto 12px;

    .title {
        font-family: Helvetica, Helvetica;
        font-weight: bold;
        font-size: 14px;
        color: #000000;
        line-height: 17px;
    }

    .native-month-dropdown {
        width: 100px;
        height: 32px;
        padding: 0 8px;
        margin-right: 8px;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        color: #A09B96;
        background-color: #F1F1F1;
        appearance: none; // 清除默认下拉箭头
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8'%3E%3Cpath fill='%23666' d='M0 0l6 8 6-8z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 8px center;
        background-size: 12px 8px;
        outline: none;
    }
}

.data {
    width: 355px;
    height: 122px;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 0 12px;

    .cell:last-child {
        border: none;
    }

    .cell {
        padding: 12px 0;
        border-bottom: 1px solid rgba(134, 93, 29, 0.1);

        .left {
            font-family: Helvetica, Helvetica;
            font-weight: bold;
            font-size: 12px;
            color: #000000;
            line-height: 15px;
        }

        .right {
            font-family: Helvetica, Helvetica;
            font-weight: bold;
            font-size: 12px;
            color: #000000;
            line-height: 15px;

            &.right2 {
                color: #E8A138;
            }

            img {
                width: 13px;
                height: 13px;
                margin: 0 5px;
            }
        }
    }
}

.lable {
    font-family: Helvetica, Helvetica;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
    line-height: 17px;
    box-sizing: border-box;
    padding: 0 10px;
    margin-top: 20px;
}

.ang-list {
    margin-top: 20px;
    padding: 12px;
    margin: 10px 12px;
    background-color: #FFFFFF;
    border-radius: 6px;

    .li {
        padding-bottom: 12px;
        border-bottom: 1px solid rgba(76, 59, 15, 0.1);
        margin-bottom: 12px;

        .left {
            img {
                display: block;
                width: 50px;
                height: 50px;
                border-radius: 8px;
            }

            .li-user {
                padding: 0 10px;

                .name {
                    font-family: SanFranciscoText, SanFranciscoText;
                    font-weight: bold;
                    font-size: 14px;
                    color: #000000;
                    line-height: 17px;
                    height: 25px;
                    width: 110px;
                }

                .id {
                    font-family: Helvetica;
                    font-size: 12px;
                    color: #B2B2B2;
                    line-height: 15px;
                }
            }
        }

        .right {
            img {
                width: 14px;
                height: 14px;
                margin: 0 5px;
            }

            font-family: Helvetica,
            Helvetica;
            font-weight: bold;
            font-size: 12px;
            color: #E8A138;
            line-height: 15px;
        }


    }
}

:deep(.showCreateBD) {
    width: 100%;
    height: 462px;
    background-color: #f5f5f5;
}